application/.idea/*
*.log
application/www/assets
application/www/files/schedule_reports
application/www/files/schedule_type_reports
application/www/files/temp
application/www/files/weather_monitor_reports
application/www/files/xml_messages
application/protected/runtime
application/protected/locks
application/www/files/temp
application/www/files/backups
application/www/files/hbr
application/www/files/schedule_reports
application/www/files/schedule_type_reports
application/protected/config/install.conf
application/protected/config/longdb.conf
application/protected/config/synchronization_settings.php
application/www/sendmail/sendmail.ini
application/protected/config/params/*
application/protected/nosqlvars/*
!.gitkeep
