h2 { font-family:"Verdana";font-weight:normal;font-size:14pt;color:maroon }
h3 {font-family:"Verdana";font-weight:bold;font-size:11pt}
p {font-family:"Verdana";font-weight:normal;color:black;font-size:9pt;margin-top: 5px; padding-top:10px;}
.version {color: gray;font-size:8pt;border-top:1px solid #aaaaaa;margin-top:10px; padding-top: 10px;}


/*Hello Marina!*/